autoattack @ git+https://github.com/fra31/auto-attack.git@a39220048b3c9f2cca9a4d3a54604793c68eca7e
certifi==2023.11.17
chardet==4.0.0
cmake==3.27.7
distro==1.8.0
filelock==3.13.1
fire==0.6.0
fsspec==2023.10.0
geotorch==0.3.0
huggingface-hub==0.19.4
idna==2.10
imageio==2.34.0
iopath==0.1.10
Jinja2==3.1.2
joblib==1.3.2
lazy_loader==0.4
lit==17.0.5
MarkupSafe==2.1.3
medmnist==3.0.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==23.2
pandas==1.3.5
Pillow==10.0.0
portalocker==2.8.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
requests==2.25.1
robustbench @ git+https://github.com/RobustBench/robustbench.git@65f9743812deb21552a98aa7b4bce9ad68fcf2dd
scikit-build==0.17.6
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.10.1
six==1.16.0
sympy==1.12
termcolor==2.4.0
threadpoolctl==3.2.0
tifffile==2023.7.10
timm==0.6.13
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchdiffeq==0.2.3
torchvision==0.15.2
tqdm==4.66.1
triton==2.0.0
typing_extensions==4.8.0
urllib3==1.26.18
yacs==0.1.8
